@model WebApplication1.Models.contact
    @using (Html.BeginForm())
    {

<div class="container" style="padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto;">
    <div class="form-group" style="display:block;">
        <label>id</label>
        @Html.TextBoxFor(x => x.id, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Full Name</label>
        @Html.TextBoxFor(x => x.fullname, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Email</label>
        @Html.TextBoxFor(x => x.email, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Subject</label>
        @Html.TextBoxFor(x => x.subject, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Messege</label>
        @Html.TextBoxFor(x => x.messege, new { @class = "form-control" })
    </div>
    <div class="button">
        <button onclick="location.href='/Home/showcontent'" >Submit</button>
        <input type="button" onclick="location.href='/Home/showcontent'" value="Back" />

    </div>
</div>
    }